{% extends 'main.html' %}
{% load static %}

{% block style %}
    <style>
		.container {
  			max-width: 960px;	
		}

		.pricing-header {
  			max-width: 700px;
		}

		.card-deck .card {
  			min-width: 220px;
		}
        .bs-wizard {margin-top: 40px;}
        .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
        .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
        .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
        .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
        .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
        .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
        .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
        .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
        .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
    </style>
{% endblock %}

{% block script %}
    <script>
        $(function() {
        $('#btnSignin').click(function() {
            $('#modalSignin').modal();
            });
        });

        $(function() {
            $('#btnAddQueue').click(function() {
                $('#modalAddQueue').modal();
            });
        });


        $(document).ready(function(){
            $('#modalSignin').keypress(function(e){
                if(e.keyCode==13)
            $('#btnLogin').click();
                });
        });

    function ajaxSubmitLogin() {
        login = document.querySelector('#login').value;
        pswd = document.querySelector('#pswd').value;
        axios({
            url: '{% url "index" %}',  //หรือ url: ''
            method: 'get',
            params: {'login':login, 'pswd':pswd},
            timeout: 5000,
            headers: {'X-Requested-With': 'XMLHttpRequest'}
        })
        .then(response => {
            var msg = '';
            if (response.data.loginstatus == true) {
                //msg = 'ข้อมูลถูกต้อง';
                location.href = "#";
                $('#modalSignin').modal('hide');         
            } else {
                document.getElementById("msg").style.color = 'red';
                msg = 'ข้อมูลไม่ถูกต้อง';
                
            }

            document.getElementById('msg').innerHTML = msg;
        })
        .catch(error => {
            alert(error);
        });
    }   
    </script>
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">PlanToys AGV</h5>

	<div class="dropright float-left">
        <button class="btn dropdown-toggle"
                     type="button" data-toggle="dropdown">โปรดเลือกหมายเลข AGV</button>
            <div class="dropdown-menu">
                {% for anum in agvlist %}
                    <a class="dropdown-item" >AGV-{{anum}}</a>
                {% endfor %}
            </div>
   </div>
    <div id="btnAddQueue" class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">เพิ่มคิว</a>
    </div>
    <a id="btnSignin" class="btn btn-outline-primary" >เข้าสู่ระบบ</a>
</div>



<div class="container">
		
        
    <div class="row bs-wizard" style="border-bottom:0;">
        
        <div class="col-6 col-md bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">สถานีต้นทาง</div>
        </div>
        
        <div class="col-6 col-md bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">กำลังยกพาเลท</div>
        </div>
        
        <div class="col-6 col-md bs-wizard-step active"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">กำลังเดินทาง</div>
        </div>
        
        <div class="col-6 col-md bs-wizard-step disabled"><!-- active -->
          <div class="text-center bs-wizard-stepnum">Step 4</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">กำลังวางพาเลท</div>
        </div>
        <div class="col-6 col-md bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Step 5</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">ถึงสถานีปลายทาง</div>
          </div>

    </div>

    <br>

</div>
</div>

<table class="table table-striped table-borderless table-sm">
	<thead class="thead-dark">
		<tr>
			<th>คิวที่</th>
			<th>หมายเลขงาน</th>
			<th>จำนวนที่ส่ง</th>
			<th>ส่งจากสถานี</th>
            <th>ไปยังสถานี</th>
            <th>จัดส่งโดย</th>
		</tr>
	</thead>
	<tbody>
        {% for rw in queue %}
            <tr>
                <td></td>
                <td>{{rw.job}}</td>
                <td>{{rw.quantity}}</td>
                <td>{{rw.from}}</td>
                <td>{{rw.to}}</td>
                <td>{{rw.user}}</td>
            </tr>

        {% endfor %}

	</tbody>
	</table>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
          
            <div class="col-12 col-md">
                  <img class="mb-2" src="{% static 'image/pt2.png' %}" alt="" width="24" height="24">
                  <small class="d-block mb-3 text-muted">&copy; 2021</small>
                </div>
          
            <div class="col-6 col-md">
                  <h5>เอกสาร</h5>
                  <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">การใช้งานเบื้องต้น</a></li>
                        <li><a class="text-muted" href="#">การแก้ไขปัญหาเบื้องต้น</a></li>

                  </ul>
            </div>
          
            <div class="col-6 col-md">
                  <h5>รายละเอียด</h5>
                  <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">ข้อมูลโครงสร้าง</a></li>
                        <li><a class="text-muted" href="#">ข้อมูลทางเทคนิค</a></li>
                  </ul>
            </div>
          
            <div class="col-6 col-md">
                  <h5>ติดต่อ</h5>
                  <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">ทีมผู้พัฒนา</a></li>
                        <li><a class="text-muted" href="#">{{agvlist}}</a></li>

                  </ul>
            </div>
          </div>
    </footer>
</div>
    <br>


    <div id="modalSignin" class="modal fade">
        <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">ลงชื่อเข้าสู่ระบบ</h5>
                   <button class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
               <form>
                <div id="msg"></div><br>
                   <div class="form-group">
                       <label for="login">ชื่อผู้ใช้:</label>
                       <input 	type="text" id="login"
                               class="form-control">
                   </div>
                   <div class="form-group">
                       <label for="pswd">รหัสผ่าน:</label>
                       <input 	type="password" id="pswd" 
                               class="form-control">
                   </div>
               </form>
               </div>
               <div class="modal-footer">
                   <button class="btn btn-primary" id="btnLogin" onclick="ajaxSubmitLogin()" >เข้าสู่ระบบ</button>
               </div>
           </div>
      </div>
      </div>

      <div id="modalAddQueue" class="modal fade">
        <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title">เพิ่มคิว</h5>
                   <button class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
               <form>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label for="job">หมายเลขงาน</label>
                        <input type="text" class="form-control" id="job" placeholder="" required>
                        <div class="invalid-feedback">
                              Job number required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <label for="qty">จำนวนที่ส่ง</label>
                        <input type="text" class="form-control" id="qty" placeholder="" required>
                        <div class="invalid-feedback">
                              Quantity required.
                        </div>
                      </div>
                    <div class="col-md-6 mb-4">
                      <label for="fromStation">ส่งจากสถานี</label>
                      <select class="custom-select d-block w-100" id="fromStation" required>
                            <option value="">โปรดเลือก...</option>
                            {% for r in station %}
                                <option>{{r}}</option>
                                
                            {% endfor %}
                      </select>
                  <div class="invalid-feedback">
                            Please select original station.
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="toStation">ไปยังสถานี</label>
                      <select class="custom-select d-block w-100" id="toStation" required>
                            <option value="">โปรดเลือก...</option>
                            {% for r in station %}
                                <option>{{r}}</option>
                                
                            {% endfor %}
                      </select>
                      <div class="invalid-feedback">
                            Please select destination station.
                      </div>
                    </div>

              </div>
          
               </form>
               </div>
               <div class="modal-footer">
                    <button class="btn btn-info">เพิ่มหมายเลขงาน</button>
                   <button class="btn btn-primary">ตกลง</button>
               </div>
           </div>
      </div>
      </div>

{% endblock %}